@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    background: #333b49;
    font-family: 'Fira Code', monospace;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#time {
    color: #fff;
    font-weight: bolder;
    font-size: 4rem;
}

#weather {
    padding: 20px 125px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather #desc {
    padding-right: 20px;
    border-right: solid 2px #fff;
}

#weather #icon {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
#links {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
}

#links div {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    width: 200px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

#links div h2 {
    font-size: 1.3rem;
    margin: 10px 0;
}

#links div a {
    color: grey;
    text-decoration: none;
    font-size: 0.9rem;
}